.helpControls {
    display: flex;
    justify-content: center;
}

.video {
    width: 90%;
    height: calc(100vh - 60px);
}

/* .button {
    padding: 10px 24px;
    border: none;
    outline: none;
    background-color: var(--main-700);
    color: var(--main-300);
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 3px;

    font-size: 12px;
    font-family: var(--font-main);
    font-weight: bold;
    text-transform: uppercase;
}

.button:hover {
    background-color: var(--main-500);
    color: #fff;
} */